/**
* copyright 2024 @Dark-LYNN
*/

/*-----------------------------------*\
    #SERVICES
\*-----------------------------------*/

.service { margin-bottom: 35px; }

.servicetitle { margin-bottom: 20px; }

.servicelist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.serviceitem {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.serviceitem::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.serviceiconbox { margin-bottom: 10px; }

.serviceiconbox .image { margin: auto; }

.servicecontentbox { text-align: center; }

.serviceitemtitle { margin-bottom: 7px; }

.serviceitemtext {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-3);
    line-height: 1.6;
}

@media (min-width: 580px) {
    .serviceitem {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }

    .serviceicon-box {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .servicecontentbox { text-align: left; }
}

@media (min-width: 1024px) {
    .servicelist {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }
}